

@font-face {
    font-family: 'Norse Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Norse Regular'), url('Norse.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Norse Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Norse Bold'), url('Norsebold.woff') format('woff');
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #333A44;
}

body {
    height: 100vh;
    background-color: #FEECC3;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.wrapper {
    display: flex;
    align-items: center;
    height: 750px;
    max-width: 80%;    
    overflow: hidden;
    border-radius: 0.4rem;
    box-shadow: 2px 6px 8px #B59F84;
}

.image {
    height: 100%;
    width: 35%; 
    position: relative;   
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 230px;
    width: 28%;
    height: 120px;
    display: flex;    
    background: rgba(0, 0, 0, 0.3);
    color: white;
    align-items: center; 
    justify-content: center;   
}

.logo img {
    width: 25%;
}

.logo p {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Norse Bold';
}

.main {
    height: 100%;
    width: 65%;
    background-color: #FFFFF5;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    height: 28%;      
}

h2 {
    margin-bottom: 0.9rem;
    line-height: 1.9rem;
    font-size: 1.3rem;
}

.description p {
    font-size: 1rem;
    font-weight: 600;
}

.inputs {
    background-color: #FFFFFF;
    padding: 2rem 1rem 1.5rem 1rem;    
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 8px #B59F84;
}

.inputs p {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.form-row {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.9rem;
}

.form-cell {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    width: 38%;   
}

.form-cell label {
    text-transform: uppercase;
    font-size: 0.6rem;
    padding-bottom: 0.1rem;
}

.form-cell input {
    padding: 0.25rem;
    border: 1.5px solid #D3D3D3;   
}

.form-cell > input {
    

}

.checkbox span {
    font-size: 0.85rem;
}

input[type="checkbox"] {
    accent-color: #E35A01;
    transform: scale(1.2);
}

.submit {
    padding-top: 3rem;
    padding-left: 1.5rem;    
}

button {
    padding: .7rem;
    border-radius: 0.3rem;
    width: 35%;
    font-weight: 600;
    font-size: 0.95rem;
    color: #FFFFF5;
    border: none;    
    background-color: #E35A01; 
    box-shadow: 1px 2px 5px #A47551;  
    cursor: pointer;
}

button:active {
    background-color: #FFE5B4;
}

.submit p {
    margin-top: 1.1rem;
    padding-left: 0.2rem;
    font-size: 0.8rem;
}

.submit a {
    text-decoration: none;
    color: #E35A01;
    font-weight: 600;
}

input:focus {
    outline: none;
    border: 2px solid rgb(0, 60, 255);
    box-shadow: 1px 2px 2px silver;     
}

input:invalid {
    color: red;
}


